.list {
  font-family: Arial, sans-serif;
}

.task {
  margin-right: 10px;
}

.status {
  margin-right: 10px;
  font-weight: bold;
}

.closed {
  color: darkolivegreen;
}

ul {
  list-style-type: none;
  align-items: left;
  display: inline-block;
}

button {
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
}
